<section id="contacts">
  <div class="container contacts">
    <h2 class="contacts__title">contacts</h2>
    <ul class="contact">
      <li class="contact__item">
        <p class="contact__cafe">CAFE</p>
        <address class="contact__city">Chicago</address>
        <a
          class="contact__details"
          href="https://www.google.com/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+Stany+Zjednoczone/@41.7033903,-87.782315,17z/data=!3m1!4b1!4m6!3m5!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7033903!4d-87.7797401!16s%2Fg%2F11jnxh2b00?entry=ttu"
          >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
        >
        <hr class="contact__underline" />
        <p class="contact__days-opening">Monday - Friday</p>
        <p class="contact__hours-opening-week">06:00 AM - 10:00 PM</p>
        <p class="contact__days-opening">Saturday - Sunday</p>
        <p class="contact__hours-opening-weekend">08:00 AM - 16:00 PM</p>
        <hr class="contact__underline" />
        <a class="contact__phone" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="contact__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
      <li class="contact__item">
        <p class="contact__foodtruck">FOODTRUCK</p>
        <address class="contact__city">Los Angeles</address>
        <a
          class="contact__details"
          href="https://www.google.com/maps/search/1003+manhattan+ave+manhattan+beach+ca+90263+usa/@33.9593098,-118.6447876,12z/data=!3m1!4b1?entry=ttu"
          >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
        >
        <hr class="contact__underline" />
        <p class="contact__days-opening">Monday - Friday</p>
        <p class="contact__hours-opening-week">06:00 AM - 10:00 PM</p>
        <p class="contact__days-opening">Saturday - Sunday</p>
        <p class="contact__hours-opening-weekend">08:00 AM - 16:00 PM</p>
        <hr class="contact__underline" />
        <a class="contact__phone" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="contact__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
      <li class="contact__item">
        <p class="contact__cafe">CAFE</p>
        <address class="contact__city">New York</address>
        <a
          class="contact__details"
          href="https://www.google.com/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+Stany+Zjednoczone/@41.7033903,-87.782315,17z/data=!3m1!4b1!4m6!3m5!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7033903!4d-87.7797401!16s%2Fg%2F11jnxh2b00?entry=ttu"
          >726 Sterling Pl, Brooklyn, NY 11222, USA</a
        >
        <hr class="contact__underline" />
        <p class="contact__days-opening">Monday - Friday</p>
        <p class="contact__hours-opening-week">06:00 AM - 10:00 PM</p>
        <p class="contact__days-opening">Saturday - Sunday</p>
        <p class="contact__hours-opening-weekend">08:00 AM - 16:00 PM</p>
        <hr class="contact__underline" />
        <a class="contact__phone" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="contact__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
    </ul>
    <div class="contacts__buttons">
      <button type="button" class="contacts__btn-locations" data-modal5-open>
        Our Locations &#10095;
      </button>
      <button type="button" class="contacts__btn-franchise" data-modal6-open>
        Franchise &#10095;
      </button>
    </div>
  </div>
</section>
