
<!--Logo-->
<header class="page-header">
    <div class="page-header__container container">
        <nav>
        <svg class="page-header__icons" width="48" height="44">
            <use href="../images/icons.svg#icon-logo"></use>
        </svg>
    <!--Menu Nav-->
        <ul class="page-nav">
            <li class="page-nav__item">
                <a class="page-nav__link" href="./index.html">Home</a>
            </li>
            <li class="page-nav__item">
                <a class="page-nav__link" href="#hero">How It's made?</a>
            </li>
            <li class="page-nav__item">
                <a class="page-nav__link" href="#products">Our products</a>
            </li>
            <li class="page-nav__item">
                <a class="page-nav__link" href="#contacts">Contacts</a>
            </li>
        </ul>
    <!--Button-->
    <ul>
        <li><button
        type="button"
        class="menu-button js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
        data-menu-button
        >
        <svg width="40" height="40" aria-label="menu-switcher">
            <use class="menu-button__sandwich" href="../images/icons.svg#icon-menu_open"></use>
        </svg>
    </button></li>
        <li>
            <button
        type="button"
        class="menu-button__close js-close-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
        data-menu-button
        >
        <svg width="40" height="40" aria-label="menu-switcher">
            <use class="menu-button__cross" href="./images/icons.svg#icon-menu_close"></use>
        </svg>
            </button>
        </li>
        <li>
            <button type="menu-button__buynow" class="button" data-modal-open>Buy now</button>
        </li>
        </nav>
    </div>
</header>

