<section class="bg">
  <div class="page-wrapper">
    <section class="hero">
      <div class="hero-container relative">
        <ul class="left-side-list">
          <li>
            <h1 class="hero__title">
              ice cream <br />
              made with
              <span class="hero__title hero__title--accent">passion</span>
            </h1>
          </li>
          <li class="hero__list-item">
            <a class="hero__button hero__button--dark" href="#products">Products</a>
            <a class="hero__link">How it's made?</a>
          </li>
          <li class="hero__list-item hero__list-item--wider">
            <picture>
              <img class="hero__platter" src="images/ice-cream_platter.png" alt="icecreams" />
            </picture>
            <div class="hero__platter-right">
              <p class="hero__milk-description">
                Indulge in a scoop of ice cream made with passion and treat your taste buds to an
                unforgettable experience!
              </p>
              <!-- <img src="images/desktop/ice-cream_desktop@2x.png" /> -->
              <button class="hero__milk-button" type="button">
                <svg class="hero__milk-button-icon" width="18" height="18">
                  <use href="images/icons.svg#icon-arrow"></use>
                </svg>
              </button>
            </div>
          </li>
        </ul>
        <div class="">
          <picture>
            <source srcset="images/desktop/ice-cream_desktop.png" media="(min-width: 1280px)" />
            <source
              srcset="images/desktop/ice-cream_desktop@2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source srcset="images/tablet/ice-cream_tablet.png" media="(min-width: 768px)" />
            <source srcset="images/tablet/ice-cream_tablet@2x.png 2x" media="(min-width: 768px)" />
            <source srcset="images/mobil/ice-cream_mobile.png" media="(max-width: 767px)" />
            <source srcset="images/mobil/ice-cream_mobile@2x.png 2x" media="(max-width: 767px)" />
            <img
              class="hero__ice-cream"
              src="images/desktop/ice-cream_desktop.png"
              alt="Ice-cream"
            />
          </picture>
        </div>
        <div class="hero__doots">
          <ul>
            <li class="hero__list">
              <p class="hero__list-name hero__list-name--first">16</p>
              <p class="hero__list-description">cafes</p>
            </li>
            <li class="hero__list">
              <p class="hero__list-name hero__list-name--second">23</p>
              <p class="hero__list-description">food trucks</p>
            </li>
          </ul>
          <!-- <picture>
            <source
              srcset="./assets/images/images/desktop/girl-hero-dst.png"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./assets/images/images/desktop/girl-hero-dst@2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./assets/images/images/tablet/girl-hero-tb.png"
              media="(min-width: 768px)"
            />
            <source
              srcset="./assets/images/images/tablet/girl-hero-tb@2x.png 2x"
              media="(min-width: 768px)"
            />
            <img
              class="hero__woman-picture"
              src="./assets/images/images/desktop/girl-hero-dst.png"
              alt="Woman with ice cream"
            />
          </picture> -->
        </div>
      </div>
    </section>
  </div>
</section>
