.products {
  margin: auto;

  background-image: url('./../images/mobil/Backgroud_mobile.png');
  background-size: cover;

  &__title {
    /* 100% natural */
    padding-top: 60px;
    padding-bottom: 12px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.222;

    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: getColor('dark');
  }

  &__title-primary {
    /* products */
    padding-bottom: 145px;

    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.26;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: getColor('dark');
  }

  &__list {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: auto;
    text-align: center;
    align-items: center;

    &-circle-ice-cream {
      position: relative;
      top: -100px;
      right: 0px;
      z-index: 2;

      border-radius: 150px;
      background-image: url('./../images/product_ice-cream.png'),
        url('./../images/product_ice-cream@2x.png'), url('./../images/product_ice-cream@3x.png');
      width: 200px; //d302px
      height: 200px; //d302px
      background-size: 200px 200px;

      margin: auto;
    }

    &-circle-ice-cream-shadow {
      position: relative;
      width: 200px;
      height: 200px;
      top: 11px;
      right: 0px;

      z-index: 1;
      margin: auto;
      border-radius: 150px;
      background-color: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)),
        #d9d9d9;
      box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
    }

    &-rectangle-ice-cream {
      background-color: #aec6a5;
      width: 320px; //d370px
      height: 428px; //d536px
      border-radius: 24px;
    }

    &-rectangle-ice-coffe {
      background-color: #efd478;
      width: 370px;
      height: 536px;
      border-radius: 24px;
    }

    &-rectangle-milkshakes {
      background-color: #d6936d;
      width: 370px;
      height: 536px;
      border-radius: 24px;
    }

    &-item {
      &-name {
        margin-top: -77px;
        padding-bottom: 66px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;

        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: getColor('dark');
      }

      &-description {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.76;
        text-align: center;
        letter-spacing: 0.04em;

        color: getColor('dark');
        padding-bottom: 50px;
      }
      &-arrow-icon {
        cursor: pointer;
      }
    }
  }
}

@media #{$tablet} {
  .products__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media #{$desktop} {
  .products {
    width: 1369px;
    height: 1242px;
    background-image: url('./../images/desktop/Backgroud_desktop.png'),
      url('./../images/desktop/Backgroud_desktop@2x.png'),
      url('./../images/desktop/Backgroud_desktop@3x.png');

    &__title {
      /* 100% natural */
      padding-top: 60px;
      padding-bottom: 12px;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 800;
      font-size: 30px;
      line-height: 1.233;

      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;

      color: getColor('dark');
    }

    &__title-primary {
      /* products */
      padding-bottom: 145px;

      font-family: 'Seymour One';
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 1.25;

      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;

      color: getColor('dark');
    }

    &__list {
      margin: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      gap: 30px;
      margin: auto;
      text-align: center;
      align-items: center;

      &-circle-ice-cream {
        position: relative;
        top: -100px;
        right: 0px;
        z-index: 2;

        border-radius: 150px;
        background-image: url('./../images/product_ice-cream.png'),
          url('./../images/product_ice-cream@2x.png'), url('./../images/product_ice-cream@3x.png');
        width: 200px; //d302px
        height: 200px; //d302px
        background-size: 200px 200px;

        margin: auto;
      }

      &-circle-ice-cream-shadow {
        position: relative;
        width: 200px;
        height: 200px;
        top: 11px;
        right: 0px;

        z-index: 1;
        margin: auto;
        border-radius: 150px;
        background-color: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)),
          #d9d9d9;
        box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
      }

      &-rectangle-ice-cream {
        background-color: #aec6a5;
        width: 370px;
        height: 536px;
        border-radius: 24px;
      }

      &-rectangle-ice-coffe {
        background-color: #efd478;
        width: 370px;
        height: 536px;
        border-radius: 24px;
      }

      &-rectangle-milkshakes {
        background-color: #d6936d;
        width: 370px;
        height: 536px;
        border-radius: 24px;
      }

      &-item {
        &-name {
          margin-top: -77px;
          padding-bottom: 66px;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 30px;
          line-height: 1.233;

          text-align: center;
          letter-spacing: 0.04em;
          text-transform: uppercase;

          color: getColor('dark');
        }

        &-description {
          width: 246px;
          height: 142px;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 1.76;
          text-align: center;
          letter-spacing: 0.04em;

          color: getColor('dark');
          padding-left: 61px;
          padding-bottom: 100px;
        }

        &-arrow-icon {
          cursor: pointer;
        }
      }
    }
  }
}
